<div>
    <label>Year</label>
    <select [(ngModel)]="selectedYear" (ngModelChange)="monthOnChange()">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
  </div>
  
  
  <div>
    <label>Month</label>
    <select [(ngModel)]="selectedMonth" (ngModelChange)="monthOnChange()">
      <option *ngFor="let month of months" [value]="month">{{month}}</option>
    </select>
  </div>
  
  
  <div>
    <label>Day</label>
    <select [(ngModel)]="selectedDay">
      <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
  </div>

  <div>
    <button (click)="emitDate()">Find Picture</button>
  </div>


  <div>
    <img src="https://lh3.googleusercontent.com/drive-viewer/AAOQEOSSUqMvEuzrUK4LseR2DDleRuK_Fj4tnPLu4dQr5VAzRQtp7oKCG59GBRkOpTYxMl4QGlgLxdwMYT3uChI2DftqZQAfNg=s1600">
  </div>